__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib

.pytest_cache/
.ruff_cache/
.mypy_cache/

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/

.venv/
venv/
.env

pip-wheel-metadata/
*.log

epub_files/
pdf_output/
